body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    transition: 4s linear;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    height:220px;
    width: 420px;
    margin: 0, auto;
}
